<h2>Comment</h2>
<% if (!commentsList.length) { %>
    <p>No results</p>
<% } else { %>
    <table id="commentsList">
        <thead>
            <tr>
                <th>Owner</th>
                <th>Content</th>
                <th>Date</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% commentsList.forEach((comment) => { %>
                <tr>
                    <td><%- comment.userId %></td>
                    <td><%- comment.content %></td>
                    <td><%- comment.createdAt %></td>
                    <td><a href="<%- editCommentPath(comment) %>">Edit</a></td>
                    <td>
                        <form action="<%- deleteCommentPath(comment) %>" method="POST">
                            <input type="hidden" name="_method" value="delete"/>
                            <input type = "submit" value="Delete"/>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>

<a href="<%- newCommentPath %>">New Comment</a>