<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Show publication</title>
    <link rel="stylesheet" type="text/css" media="screen" href="<%= assetPath('navBar.scss') %>">
  </head>

  <body>
        <h2>Publication info</h2>
        <% if (!publication) { %>
            <p>Publication not found</p>
        <% } else { %>
            <table id="publication">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>User</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><%- publication.title %></td>
                            <td><%- publication.description %></td>
                            <td><%- publication.userId %></td>
                        </tr>
                </tbody>
            </table>
            <li><a href="<%- newCommentPath %>">Comment publication</a></li>
            <% if (publication.id != currentUser.id) { %>
                <li><a href="<%- newTradePath %>">Request trade</a></li>
            <% } %>
        <% } %>

        <h2>Comments</h2>
        <% if (!commentsList.length) { %>
            <p>This publication has no comments.</p>
        <% } else { %>
            <table id="commentsList">
                <thead>
                    <tr>
                        <th>Content</th>
                        <th>User</th>
                        <th>Posted At</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% commentsList.forEach((comment) => { %>
                        <tr>
                            <td><%- comment.content %></td>
                            <td><%- comment.userId %></td>
                            <td><%- comment.createdAt %></td>
                            <td><a href="<%- editCommentPath(comment) %>">Edit</a></td>
                            <td>
                                <form action="<%- deleteCommentPath(comment) %>" method="POST">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <input type = "submit" value="Delete"/>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>

  </body>


</html>