<div>
    <% if (locals.errors) { %>
        <div class="errors">
          You need to fix the following errors:
          <ul>
            <% errors.forEach(error => { %>
              <li><%= error.message %></li>
            <% }); %>
          </ul>
        </div>
    <% } %>
    <form action="<%= submitTradePath %>" method="post">
        <% if (!trade.isNewRecord) { %>
            <input type="hidden" name="_method" value="patch" />
        <% } %>
        <div class="field">    
            <label for="shippingCost">Shipping Cost</label>
            <input type="number" name="shippingCost" value="<%= trade.shippingCost %>" />       
        </div>
        <% if (trade.isNewRecord) { %>
            <div class="field">
                <% if(productsList.length) { %>
                    <select name="product">
                        <% productsList.forEach((product) => { %>
                            <option value="<%= product.id %>"><%- product.name %></option>
                        <% }) %>
                    </select>
                <% } else { %>
                    <p> you don't have any product <a href="<% newProductPath %>">Create one</a></p>
                <% } %>
        <% } %>
        </div>
        <div>
            <% if (trade.isNewRecord) { %>
                <input type="submit" name="create" value="Create"/>
            <% } else { %>
                <input type="submit" name="update" value="Update"/>
            <% } %>
        </div>
    </form>
</div>