<h2>Trade</h2>
<% if (!tradesList.length) { %>
    <p>No results</p>
<% } else { %>
    <table id="tradesList">
        <thead>
            <tr>
                <th>User 1</th>
                <th>User 2</th>
                <th>Object 1</th>
                <th>Object 2</th>
                <th>State</th>
                <th>Shipping Cost</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% tradesList.forEach((trade) => { %>
                <tr>
                    <td><%- trade.firstUserId %></td>
                    <td><%- trade.secondUserId %></td>
                    <td><%- trade.firstObjectId %></td>
                    <td><%- trade.secondObjectId %></td>
                    <td><%- trade.state %></td>
                    <td><%- trade.shippingCost %></td>
                    <td><a href="<%- editTradePath(trade) %>">Edit</a></td>
                    <td>
                        <form action="<%- deleteTradePath(trade) %>" method="POST">
                            <input type="hidden" name="_method" value="delete"/>
                            <input type = "submit" value="Delete"/>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>