<div>
        <% if (locals.errors) { %>
            <div class="errors">
              You need to fix the following errors:
              <ul>
                <% errors.forEach(error => { %>
                  <li><%= error.message %></li>
                <% }); %>
              </ul>
            </div>
        <% } %>
        <form action="<%= submitMessagePath %>" method="post">
            <% if (!message.isNewRecord) { %>
                <input type="hidden" name="_method" value="patch" />
            <% } %>
            <div class="field">
                <select name="receiver">
                    <% userList.forEach((forUser) => { %>
                        <% if (forUser.id !== user.id) { %>
                            <option value="<%= forUser.id %>"><%- forUser.username %></option>
                        
                        <% } %>
                    <% }) %>
                </select>
            </div>
            <div class="field">    
                <label for="content">Content</label>
                <input type="text" name="content" value="<%= message.content %>" />       
            </div>
            <div>
                <% if (message.isNewRecord) { %>
                    <input type="submit" name="create" value="Create"/>
                <% } else { %>
                    <input type="submit" name="update" value="Update"/>
                <% } %>
            </div>
        </form>
    </div>